{% extends "layouts/base.html" %}
{# {% set pageHeaderTitle = title %}
{% set
pageHeaderSummary = summary %} #}
{% block
content %}
    <div class="wrapper flow">
        {# <article>{% include "partials/page-header.html" %}</article> #}
        <ol class="[ schedule-list ]">
            <li class="schedule-list__item bg-light-shade">
                <h2>Registration</h2>
				<p class=" [ schedule-list__content-time ] [ text-400 weight-bold measure-short flow-space-300 ] "><span class="visually-hidden">Time: </span> 08:45am - 09:10am</p>
            </li>
			<li class="schedule-list__item bg-light-shade">
                <h2>Opening Address - Simon Norris</h2>
				<p class=" [ speaker-list__summary ] "><span class="visually-hidden">Job title: </span>CEO Nomensa</p>
				<p class=" [ schedule-list__content-time ] [ text-400 weight-bold measure-short flow-space-300 ] "><span class="visually-hidden">Time: </span> 09:15am - 09:30am</p>
            </li>
            <li class="schedule-list__item">
                <article class="[ radius-panel ]" data-variant="horizontal">
                    <figure class="[ radius-panel__item ] [ auto-grid ]">
                        <div class="[ radius-panel__media ]">
                            <img class="radius" src="{{ speakers[0].image.url }}" alt="{{ speakers[0].image.urlAlt }}"/>
                        </div>
                        <figcaption class="[ radius-panel__content ]">
                            <h2 class="[ text-600 ]">
                                <span class="visually-hidden">Name:
                                </span>
                                {{ speakers[0].title }}
                            </h2>
                            <p class=" [ speaker-list__summary ] ">
                                <span class="visually-hidden">Job title:
                                </span>
                                {{ speakers[0].job }}
                            </p>
                            <p class=" [ schedule-list__content-time ] [ text-400 weight-bold measure-short flow-space-300 ] ">
                                <span class="visually-hidden">Talk time
                                </span>
                                {{ speakers[0].talkTimeStart }} - {{ speakers[0].talkTimeEnd }}
                            </p>
                            {{ speakers[0].talkDetails }}
                            <a href="/speaker/{{ speakers[0].slug }}/" class="card-link">
                                <span class="visually-hidden">read more about {{ speakers[0].title }}</span>
                            </a>
                        </figcaption>
                    </figure>
                </article>
            </li>
            <li class="schedule-list__item">
				<article class="[ radius-panel ]" data-variant="horizontal">
                    <figure class="[ radius-panel__item ] [ auto-grid ]">
                        <div class="[ radius-panel__media ]">
                            <img class="radius" src="{{ speakers[1].image.url }}" alt="{{ speakers[1].image.urlAlt }}"/>
                        </div>
                        <figcaption class="[ radius-panel__content ]">
                            <h2 class="[ text-600 ]">
                                <span class="visually-hidden">Name:
                                </span>
                                {{ speakers[1].title }}
                            </h2>
                            <p class=" [ speaker-list__summary ] ">
                                <span class="visually-hidden">Job title:
                                </span>
                                {{ speakers[1].job }}
                            </p>
                            <p class=" [ schedule-list__content-time ] [ text-400 weight-bold measure-short flow-space-300 ] ">
                                <span class="visually-hidden">Talk time
                                </span>
                                {{ speakers[1].talkTimeStart }} - {{ speakers[1].talkTimeEnd }}
                            </p>
                            {{ speakers[1].talkDetails }}
                             <a href="/speaker/{{ speakers[1].slug}}/" class="card-link">
                                <span class="visually-hidden">read more about {{ speakers[1].title }}</span>
                            </a>
                        </figcaption>
                    </figure>
                </article>
			</li>
            <li class="schedule-list__item  bg-light-shade">
                <h2>Morning Coffee Break</h2>
				<p class=" [ schedule-list__content-time ] [ text-400 weight-bold measure-short flow-space-300 ] "><span class="visually-hidden">Time: </span> 10:50am - 11:20am</p>
            </li>
            <li class="schedule-list__item">
				<article class="[ radius-panel ]" data-variant="horizontal">
                    <figure class="[ radius-panel__item ] [ auto-grid ]">
                        <div class="[ radius-panel__media ]">
                            <img class="radius" src="{{ speakers[2].image.url }}" alt="{{ speakers[2].image.urlAlt }}"/>
                        </div>
                        <figcaption class="[ radius-panel__content ]">
                            <h2 class="[ text-600 ]">
                                <span class="visually-hidden">Name:
                                </span>
                                {{ speakers[2].title }}
                            </h2>
                            <p class=" [ speaker-list__summary ] ">
                                <span class="visually-hidden">Job title:
                                </span>
                                {{ speakers[2].job }}
                            </p>
                            <p class=" [ schedule-list__content-time ] [ text-400 weight-bold measure-short flow-space-300 ] ">
                                <span class="visually-hidden">Talk time
                                </span>
                                {{ speakers[2].talkTimeStart }} - {{ speakers[2].talkTimeEnd }}
                            </p>
                            {{ speakers[2].talkDetails }}
                             <a href="/speaker/{{ speakers[2].slug}}/" class="card-link">
                                <span class="visually-hidden">read more about {{ speakers[2].title }}</span>
                            </a>
                        </figcaption>
                    </figure>
                </article>
			</li>
            <li class="schedule-list__item">
				<article class="[ radius-panel ]" data-variant="horizontal">
                    <figure class="[ radius-panel__item ] [ auto-grid ]">
                        <div class="[ radius-panel__media ]">
                            <img class="radius" src="{{ speakers[3].image.url }}" alt="{{ speakers[3].image.urlAlt }}"/>
                        </div>
                        <figcaption class="[ radius-panel__content ]">
                            <h2 class="[ text-600 ]">
                                <span class="visually-hidden">Name:
                                </span>
                                {{ speakers[3].title }}
                            </h2>
                            <p class=" [ speaker-list__summary ] ">
                                <span class="visually-hidden">Job title:
                                </span>
                                {{ speakers[3].job }}
                            </p>
                            <p class=" [ schedule-list__content-time ] [ text-400 weight-bold measure-short flow-space-300 ] ">
                                <span class="visually-hidden">Talk time
                                </span>
                                {{ speakers[3].talkTimeStart }} - {{ speakers[3].talkTimeEnd }}
                            </p>
                            {{ speakers[3].talkDetails }}
                             <a href="/speaker/{{ speakers[3].slug}}/" class="card-link">
                                <span class="visually-hidden">read more about {{ speakers[3].title }}</span>
                            </a>
                        </figcaption>
                    </figure>
                </article>
			</li>
			<li class="schedule-list__item  bg-light-shade">
                <h2>Lunch</h2>
				<p class=" [ schedule-list__content-time ] [ text-400 weight-bold measure-short flow-space-300 ] "><span class="visually-hidden">Time: </span> 12:40pm - 14:00pm</p>
            </li>
            <li class="schedule-list__item">
				<article class="[ radius-panel ]" data-variant="horizontal">
                    <figure class="[ radius-panel__item ] [ auto-grid ]">
                        <div class="[ radius-panel__media ]">
                            <img class="radius" src="{{ speakers[4].image.url }}" alt="{{ speakers[4].image.urlAlt }}"/>
                        </div>
                        <figcaption class="[ radius-panel__content ]">
                            <h2 class="[ text-600 ]">
                                <span class="visually-hidden">Name:
                                </span>
                                {{ speakers[4].title }}
                            </h2>
                            <p class=" [ speaker-list__summary ] ">
                                <span class="visually-hidden">Job title:
                                </span>
                                {{ speakers[4].job }}
                            </p>
                            <p class=" [ schedule-list__content-time ] [ text-400 weight-bold measure-short flow-space-300 ] ">
                                <span class="visually-hidden">Talk time
                                </span>
                                {{ speakers[4].talkTimeStart }} - {{ speakers[4].talkTimeEnd }}
                            </p>
                            {{ speakers[4].talkDetails }}
                             <a href="/speaker/{{ speakers[4].slug}}/" class="card-link">
                                <span class="visually-hidden">read more about {{ speakers[4].title }}</span>
                            </a>
                        </figcaption>
                    </figure>
                </article>
			</li>
            <li class="schedule-list__item">
				<article class="[ radius-panel ]" data-variant="horizontal">
                    <figure class="[ radius-panel__item ] [ auto-grid ]">
                        <div class="[ radius-panel__media ]">
                            <img class="radius" src="{{ speakers[5].image.url }}" alt="{{ speakers[5].image.urlAlt }}"/>
                        </div>
                        <figcaption class="[ radius-panel__content ]">
                            <h2 class="[ text-600 ]">
                                <span class="visually-hidden">Name:
                                </span>
                                {{ speakers[5].title }}
                            </h2>
                            <p class=" [ speaker-list__summary ] ">
                                <span class="visually-hidden">Job title:
                                </span>
                                {{ speakers[5].job }}
                            </p>
                            <p class=" [ schedule-list__content-time ] [ text-400 weight-bold measure-short flow-space-300 ] ">
                                <span class="visually-hidden">Talk time
                                </span>
                                {{ speakers[5].talkTimeStart }} - {{ speakers[5].talkTimeEnd }}
                            </p>
                            {{ speakers[5].talkDetails }}
                             <a href="/speaker/{{ speakers[5].slug}}/" class="card-link">
                                <span class="visually-hidden">read more about {{ speakers[5].title }}</span>
                            </a>
                        </figcaption>
                    </figure>
                </article>
			</li>
            <li class="schedule-list__item  bg-light-shade">
                <h2>Afternoon Coffee Break</h2>
				<p class=" [ schedule-list__content-time ] [ text-400 weight-bold measure-short flow-space-300 ] "><span class="visually-hidden">Time: </span> 15:20pm - 15:40pm</p>
            </li>
            <li class="schedule-list__item">
                <article class="[ radius-panel ]" data-variant="horizontal">
                    <figure class="[ radius-panel__item ] [ auto-grid ]">
                        <div class="[ radius-panel__media ]">
                            <img class="radius" src="{{ speakers[6].image.url }}" alt="{{ speakers[6].image.urlAlt }}"/>
                        </div>
                        <figcaption class="[ radius-panel__content ]">
                            <h2 class="[ text-600 ]">
                                <span class="visually-hidden">Name:
                                </span>
                                {{ speakers[6].title }}
                            </h2>
                            <p class=" [ speaker-list__summary ] ">
                                <span class="visually-hidden">Job title:
                                </span>
                                {{ speakers[6].job }}
                            </p>
                            <p class=" [ schedule-list__content-time ] [ text-400 weight-bold measure-short flow-space-300 ] ">
                                <span class="visually-hidden">Talk time
                                </span>
                                {{ speakers[6].talkTimeStart }} - {{ speakers[6].talkTimeEnd }}
                            </p>
                            {{ speakers[6].talkDetails }}
                             <a href="/speaker/{{ speakers[6].slug}}/" class="card-link">
                                <span class="visually-hidden">read more about {{ speakers[6].title }}</span>
                            </a>
                        </figcaption>
                    </figure>
                </article>
				</li>
				<li class="schedule-list__item  bg-light-shade">
					<h2>Closing Remarks - Simon Norris</h2>
					<p class=" [ speaker-list__summary ] "><span class="visually-hidden">Job title: </span>CEO Nomensa</p>
					<p class=" [ schedule-list__content-time ] [ text-400 weight-bold measure-short flow-space-300 ] "><span class="visually-hidden">Time: </span> 17:00pm - 17:10pm</p>
				</li>
        </ol>
    </div>
{% endblock %}