{% extends "layouts/base.html" %}
{% set pageHeaderTitle = pageTitle %}
{% set pageHeaderSummary = content %}
{% block content %}

	<div class="wrapper flow">
		<article>{% include "partials/page-header.html" %}</article>
		<div class="[ speakers-list ]">
			<article class="[ radius-panel ][ auto-grid ]">
				{% for speaker in speakers %}
					<figure class="[ radius-panel__item ] [ flow ]">

						<div class="[ radius-panel__media ]">
							<img
								class="radius"
								src="{{ speaker.image.url }}"
								alt="{{ speaker.title }}"
							/>
						</div>

						<figcaption class="[ radius-panel__content ]">
							<h2 class="[ text-600 ]">
								<span class="visually-hidden">Name: </span>
								{{speaker.title }}
							</h2>
							<p class="[ radius-panel__summary ] [ text-500 measure-short flow-space-300 ]">
								<span class="visually-hidden">Job title: </span>{{speaker.job }}
							</p>
							<p class="[ radius-panel__content-time ] [ text-400 weight-bold measure-short flow-space-300 ]">
								<span class="visually-hidden">Talk time </span>{{speaker.talkTimeStart}}
							</p>
							<a href="{{ title | slug }}/" class="card-link">
								<span class="visually-hidden">read more about {{ speaker.title }}</span>
							</a>
						</figcaption>
					</figure>
				{% endfor %}
			</article>
		</div>
	</div>

{% endblock %}