{% set pageHeaderTitle = title %}
{% extends "layouts/base.html" %}
{% set partners = partners %}
{% set sponsors = sponsors %}

{% block content %}
  <section class="speaker-item">
    <div class="wrapper flow">
      {% if pageHeaderTitle %}
        {% include "partials/page-header.html" %}
      {% endif %}
    </div>
    <div class="[ wrapper ] [ flow flow-space-700 ]">
      <article>
        <h2>Sponsors</h2>
        <ol class="sponsors-list">
          {% for sponsor in sponsors %}
            <li class="[ flow flow-space-400 ]">
              <h3>{{sponsor.sponsorLevel}}</h3>
              <div class="sponsors-list__text">
                <h4>{{sponsor.sponsorName}}</h4>
                <a href="{{ sponsor.url }}" class="[ card-link ]">
                  <span class="visually-hidden">Find out more about {{sponsor.sponsorName}}</span>
                </a>
                <p>{{sponsor.summary | safe}}</p>

              </div>
              <div class="sponsors-list__media">
                <img src="{{sponsor.logo}}" imageAlt="sponsor.logoAltText"/>
              </div>
            </li>
          {% endfor %}
        </ol>
      </article>
      <article>
        <h2>Partners</h2>
        <ul class="[ partners-list ] [ auto-grid ]">
          {% for partner in partners %}
              <h3>{{partner.partnerName}}</h3>
              <div class="partners-list__media">
                <img src="{{partner.logo.url}}" imageAlt="partner.logoAlt"/>
              </div>
              <div class="partners-list__text">
                <p>{{partner.summary | safe}}</p>
              </div>
              <a href="{{ partner.website }}" class="card-link">
                <span class="visually-hidden">Find out more about </span>
                {{partner.partnerName}}</a>
            </li>
          {% endfor %}
        </ul>
      </article>
    </div>
  </section>
{% endblock %}