.gallery {
	display: flex;
	flex-direction: column;

	&__media {
		max-width: 40rem;
	}

	// Indents the even children along the inline-start to acheive a staggered
	// layout where space permits
	@include media-query('md') {
		&__item {
			&:nth-child(even) {
				margin-inline-start: auto;
			}
		}
	}

	// Flip each item to be a flex item to align caption and
	// image together
	@include media-query('lg') {
		&__item {
			$gallery-item-space: get-size('700');
			display: flex;
			align-items: flex-end;

			// Flips the horizontal layout. Use this with care though,
			// because changing source order can be problemetic
			// for keyboard users
			&:nth-child(odd) {
				flex-direction: row-reverse;
			}

			// A specificity trump that makes sure that each item
			// has a neg start margin
			&:nth-child(odd),
			&:nth-child(even) {
				margin-inline-start: -$gallery-item-space;
			}

			> * {
				margin-inline-start: $gallery-item-space;
			}
		}
	}
}
