<footer role="contentinfo" class="site-foot">
	<div class="wrapper">
		<a
			href="/"
			aria-label="{{ site.name }} - home"
			class="site-head__brand"
		>
			{% include "../../images/logos/collaborate/collaborate.svg" %}
		</a>
		<ul class="socials">
			<li>
				<i class="fab fa-twitter"></i>
				<a href="#">
					<span class="visually-hidden">Twitter</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fab fa-facebook-f"></i>
					<span class="visually-hidden">Facebook</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fab fa-linkedin-in"></i>
					<span class="visually-hidden">Linked-In</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fab fa-youtube"></i>
					<span class="visually-hidden">You Tube</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fab fa-instagram"></i>
					<span class="visually-hidden">Instagram</span>
				</a>
			</li>
			<li>
				<a href="/feed.xml" class="color-white">RSS Feed</a>
			</li>
		</ul>
	</div>
</footer>
